{%- if memcaches %}
pagespeed MemcachedThreads 1;
pagespeed MemcachedServers "{%- for memcache in memcaches %}{{ memcache }},{%- endfor %}";
{%- endif %}
pagespeed FileCachePath /var/ngx_pagespeed_cache;
